{% extends 'base.html.twig' %}
{% block title %}ModifierArticle{% endblock %}
{% block body %}
    {{ form_start(formModifier) }}
    {{ form_widget(formModifier) }}
    <button type="submit" class="btn btn-success">Modifier</button>

    {{ form_end(formModifier) }}
{% endblock %}