{% extends 'base.html.twig' %}
{% block title %}Ajouter Article{% endblock %}
{% block body %}
{{ form_start(formAjouter, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(formAjouter) }}
<button type="submit" class="btn btn-success">Créer</button>
{{ form_end(formAjouter) }}
{% endblock %}